#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 12px;
}

.descr {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: red;
  margin-bottom: 24px;
}
