.item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 300px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 16px;
}
.contact {
  font-size: 18px;
}
.descr {
}
.icon {
  color: gray;
  font-weight: 700;
}
.btnWrap {
  padding-top: 8px;
  padding-bottom: 8px;
}
.btn {
  min-width: 45px;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid gray;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: white;
  background-color: black;
  border-color: black;
}
